<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Harmony App" />
    <meta name="title" property="og:title" content="Harmony" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://i.imgur.com/qxscVRW.png" />
    <meta name="description" property="og:description" content="Harmony App" /><meta name="author" content="Samuel Dubner" />

    <title>Harmony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/39080774a5.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
